<!--Audio for send bonus-->
<audio id="audioSendBonus" hidden preload="auto">
    <source src="../../../sounds/Send%20a%20Bonus_parent.mp3" type="audio/mpeg" />
</audio>
<div class="box-content text-center" ng-class="{'background-green': showSuccessMessage }">
    <div class="main-content remove-padding text-center">

        <form name="sendBonusForm" class="position-relative" role="form" novalidate>

            <div>
                <div ng-show="isLoading" class="center-loading send-bonus-body" ng-class="{'edit-chore-loading':isLoading}" style="z-index:11;">
                    <div class="loading-top-div">
                        <div class="loading-middle-div">
                            <img class="loading-icon" src="../../../images/black-loader.gif" />
                        </div>
                    </div>
                </div>

                <div ng-cloak class="text-center send-bonus-body">
                    <div ng-cloak class="text-center">
                        <div class="row">
                            <div style="padding:0 25px 0 20px;">
                                <div class="remove-margin">
                                    <p class="hint-title phone-hint-title remove-margin margin-bottom-12">Hi, {{parentName}}!</p>
                                    <img class="add-photo-image img-profile img-circle inline-block pointer" ng-class="{'border-white':(profileImage != '../../../images/Avatar.png')}" ng-src="{{profileImage}}" err-src="../../../images/Avatar.png" />
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <p class="row bonus-text text-nowrap">How much would you like to send?</p>

                            <div class="row margin-top-10">
                                <div class="form-group text-center" show-errors>
                                    <div class="bonus-amt-inpt">
                                        <div class="position-relative">
                                            <span class="dollor-addon">$</span>
                                            <!--<input type="text" inputmode="numeric" ng-pattern="/^\d+([,.]\d+)?$/" name="value" class="form-control dollor-input" tabindex="1"
                                                   ng-model="bonus.Amount" required autocomplete="off" />-->

                                            <input type="number" name="value" step="0.01" min="1" max="100" class="form-control dollor-input" tabindex="1"
                                                   ng-model="bonus.Amount" required autocomplete="off" />
                                            
                                        </div>
                                    </div>
                                    <p class="help-block" ng-if="sendBonusForm.value.$error.required">Amount is required.</p>
                                    <p class="help-block" ng-if="sendBonusForm.value.$error.pattern">Invalid amount.</p>
                                    <p class="help-block" ng-if="sendBonusForm.value.$error.min">Amount must be greater than or equal to $1.</p>
                                    <p class="help-block" ng-if="sendBonusForm.value.$error.max">Amount must be less than or equal to $100.</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group text-center" show-errors>
                                    <div class="position-relative" style="padding:0 5px;">
                                        <p class="row bonus-text text-nowrap add-note">Add a note:</p>
                                        <textarea name="note" rows="3" class="form-control bonus-note-input" placeholder="Bonus notes" tabindex="2"
                                                  ng-model="bonus.Note" autocomplete="off" />
                                    </div>
                                </div>
                            </div>

                            <div class="row remove-margin text-center">
                                <ul class="nav nav-tabs btnSend-bonus-tab">
                                    <li class="col-xs-6 col-sm-6 col-md-6 col-lg-6 active"><a data-toggle="tab" ng-click="send()" tabindex="3">{{btnSendBonus}}</a></li>
                                    <li class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-class="{'disabled': isSending }"><a data-toggle="tab" ng-click="hideModal()">{{btnCancel}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="send-bonus-success" ng-show="showSuccessMessage">
                <div class="middle-div">
                    <div class="row">
                        <img class="row add-photo-image img-circle inline-block img-success" src="../../../images/success.png" />
                    </div>

                    <div>
                        <div class="success-message ">
                            <p class="bonus-success">Success! Your bonus was sent!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-popup-close img-circle text-center pointer btn-close" ng-click="hideModal()">
                <span class="glyphicon glyphicon-remove btn-close-text" />
            </div>
        </form>
    </div>
</div>
