<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="LeapSpring.MJC.Data.MJCDbContext"
         connectionString="Data Source=busykid-db.c7qyizdezora.us-east-1.rds.amazonaws.com,1433;Initial Catalog=bkprod;Persist Security Info=False;User ID=busykidprod;Password='fvtYr2Y;jPk\$oi';MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="twilioPhoneNumber" value="+18557822036" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="siteUrl" value="https://app.busykid.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="isProduction" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="azureServiceBusConnectionString"
         value="Endpoint=sb://coreproprod.servicebus.windows.net/;SharedAccessKeyName=all;SharedAccessKey=bKQ/6slkCSTw5bFtyQZ13ewppn9IQe7vb8StYa1HlVY=;EntityPath=busykid"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!--Gyft credential Sandbox-->
    <add key="GyftBaseUrl" value="https://api.gyft.com/mashery/v1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GyftKey" value="0d3b6e7f-f371-4778-9581-2370adc70e42" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GyftSecret" value="Y{Io4s$95v)QX6c" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--StockPile credential Sandbox-->
    <add key="StockPileBaseUrl" value="https://partner.stockpile.com/partner/apiv1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SPAccessID" value="96B80794-B375-42D6-8D74-514FB665CAFB" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SPAccessSecret" value="ebfdd6449ac6db4ecac8a049fab4289b52e43c31" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--CorePro credentials-->
    <add key="CoreProDomainName" value="https://api.corepro.io/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CoreProApiKey" value="busykid-1rEVJOQ9K4co76lf7wS5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CoreProApiSecret" value="E9E431E8-B90B-401F-9D98-1CF7903469AA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CoreProCulture" value="en-US" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--Plaid credentials-->
    <add key="PlaidBaseUrl" value="https://api.plaid.com"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PlaidClientID" value="582b972446eb126b6a860c2a"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PlaidClientSecret" value="7d1fe5a6b5ad737b3ff439db3e7eb6"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.webServer xdt:Transform="Replace">
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <!--Converts HTTP to HTTPS-->
    <rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>

    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>

  <elmah xdt:Transform="Replace">
    <security allowRemoteAccess="true"/>
  </elmah>

</configuration>