
<div class="app-width">
    <div class="welcome-page">
        <div class="center-div welcome-background">
            <div class="top-div bg-clr">
                <div class="middle-div">
                    <div class="content-sec app-width">
                        <div>
                            <div class="welcome-sec">
                                <p class="note">
                                    BusyKid lets your children earn, save, share, spend and invest their allowance in one place.
                                </p>
                                <button class="btn mjc-btn bac-color-67c152" ui-sref="signup({offer:'trial'})">Try 30-Day Free Trial</button>
                                <div class="hav-acc">
                                    <span>Have an account? <a ui-sref="login">Log In</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="benifit blue">
                <h3 class="bold-title">Beneft Headline</h3>
                <p class="note">
                    Pay your kids allowance
                    and get chores done–all
                    easy, all for free.
                </p>
                <span class="empty-circle"></span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="benifit green">
                <h3 class="bold-title">This is a Beneft Headline</h3>
                <p class="note">
                    Pay your kids allowance and
                    get chores done–all easy, all
                    for free.
                </p>
                <span class="empty-circle"></span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="benifit violet">
                <h3 class="bold-title">This is a Beneft Headline</h3>
                <p class="note">
                    Pay your kids allowance and
                    get chores done–all easy, all
                    for free.
                </p>
                <span class="empty-circle"></span>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="benifit blue">
                <h3 class="bold-title">Headline Changes</h3>
                <p class="note">
                    Pay your kids allowance
                    and get chores done–all
                    easy, all for free.
                </p>
                <span class="empty-circle"></span>
            </div>
        </div>

    </div>

</div>