<style>
    .container {
        padding: 0;
    }

    .dashboard-content .chore-items {
        margin: 0 -7px;
    }

    .dashboard-content li {
        padding: 0 7px;
    }

    @media screen and (min-width : 768px) {

        html {
            overflow-y: scroll !important;
        }

        .modal-open {
            overflow-y: hidden;
        }

        /*Old Styles*/
        .save-content {
            height: 100%;
        }

        .image-bottom-border {
            border: none;
        }

        .dashboard-content .chore-items {
            margin: 0 -15px;
        }

        .dashboard-content li {
            padding: 0 15px;
        }

            .dashboard-content li.chore-item {
                width: 50% !important;
                padding: 0 15px 0 15px;
            }

        .dashboard-content {
            padding: 25px 0;
        }

        .nav-tabs.dashboard-header-tabs {
            margin-top: 30px;
        }

            .nav-tabs.dashboard-header-tabs > li {
                max-width: 250px;
            }

                .nav-tabs.dashboard-header-tabs > li > a {
                    font-size: 20px;
                }

        .dashboard-text-medium {
            font-size: 20px;
        }

        .save-sec .chore-text {
            white-space: normal;
        }

        .gift-card-image {
            max-height: 130px;
        }

        .save-sec .gift-card-image {
            max-height: inherit;
        }

        .stock-tile {
            display: table;
        }

        .save-sec .chore-image-sec {
            display: table-cell;
            vertical-align: middle;
        }
        /*Old Styles*/

        .stock-sec .chore-image-sec {
            display: table-cell;
            vertical-align: middle;
        }

        .child-dashboard-sec .text-small {
            font-size: 14px !important;
        }

        .search-box {
            font-size: 20px !important;
            margin: 30px 0 20px 0;
            height: 52px !important;
        }

        .search-icon {
            font-size: 31px !important;
            top: 42px;
        }
    }

    .gift-card-sec.save-content {
        padding: 31px 0 !important;
    }
</style>

<div class="app-width">
    <div class="child-dashboard-sec">
        <div class="text-center">
            <ul class="nav nav-tabs dashboard-header-tabs">
                <li class="active" ng-click="toggleHomeTab()"><a data-toggle="tab" data-target="#home">Home</a></li>
                <li ng-click="toggleActivityTab()"><a data-toggle="tab" data-target="#activity">Activity</a></li>
            </ul>

            <div class="dashboard-content dropdown-item">

                <div class="save-sec spend-gift margin-bottom-20">
                    <div>
                        <div class="full-screen">
                            <div class="app-width tab-header-line"></div>
                        </div>

                        <div class="row remove-margin position-relative">
                            <input type="text" name="searchQuery" class="form-control mjc-input search-box" placeholder="Search For Gift Cards" ng-model="query" autocomplete="off" />
                            <span class="glyphicon glyphicon-search search-icon"></span>
                        </div>

                        <div class="row remove-margin stock-header">
                            <p class="text-small">POPULAR CARDS</p>
                        </div>

                        <div class="choreDue gift-card-sec remove-margin position-relative">
                            <div ng-show="isGiftCardsLoading" class="center-loading">
                                <div class="loading-top-div">
                                    <div class="loading-middle-div">
                                        <img class="loading-icon" src="../../../images/black-loader.gif" />
                                    </div>
                                </div>
                            </div>

                            <ul class="chore-items" ng-if="!isGiftCardsLoading && giftCardPreviews.length!=0">
                                <li class="col-xs-6 col-sm-6 col-md-6 col-lg-6 chor" ng-repeat="giftCardPreview in giftCardPreviews | filter:{Name:query}">
                                    <div class="dashboard-chore pointer" ng-click="purchase(giftCardPreview)">
                                        <div class="row remove-margin stock-tile">
                                            <div class="position-relative chore-image-sec">
                                                <!-- Stock Gift cards section -->
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 remove-padding image-bottom-border">
                                                    <div class="position-relative lg-text-left">
                                                        <img class="add-photo-image gift-card-image remove-padding" ng-src="{{giftCardPreview.CoverImageUrl}}" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 remove-padding save-content gift-card-main" ng-class="giftCardPreview.Disclosure==null?'gift-card-sec':'chore-name-sec'">
                                                    <div ng-class="giftCardPreview.Disclosure!=null?'disclosure-sec': 'save-name-section'">
                                                        <p class="dashboard-text-medium gift-name-text">{{giftCardPreview.Name}} </p>
                                                        <div class="gift-disclosure" ng-bind-html="giftCardPreview.Disclosure"></div>
                                                    </div>

                                                    <!--<p class="dashboard-text-medium gift-val-text">{{giftCard.MinAmount | currency:USD$:2}}-{{giftCard.MaxAmount | currency:USD$:2}} </p>-->
                                                </div>
                                            </div>
                                            <!-- Stock Gift cards ended -->
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <p class="choredue-empty chore-line" ng-if="!isGiftCardsLoading && giftCardPreviews.length==0">No gift cards available!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>