<style>
    body {
        background-color: #0491d3 !important;
    }

    input {
        max-width: 330px;
    }
</style>

<div class="app-width">
    <div class="login">
        <div class="margin-top-51">
            <p class="note text-center padding-left-right-20">
                Reset Password
            </p>
        </div>
        <form name="resetPasswordForm" role="form" novalidate>
            <div class="remove-padding">
                <div>
                    <div class="form-group signup-input-margin-bottom" show-errors>
                        <div class="cols-sm-2 signup-input-lbl">NEW PASSWORD</div>
                        <div class="cols-sm-10 mjc-input-group">
                            <input id="txtNewPassword" type="{{newPasswordInputType}}" name="newpassword" class="form-control mjc-input" placeholder="Enter New Password" ng-model="NewPassword" required autocomplete="off" />
                            <img class="icon-btn" src="../../../images/icons/eye.png" style="width: 8%;" ng-click="showNewPassword()" />
                            <p class="help-block" ng-if="resetPasswordForm.newpassword.$error.required">Password is required.</p>
                        </div>
                    </div>

                    <div class="form-group signup-input-margin-bottom" show-errors>
                        <div class="cols-sm-2 signup-input-lbl">CONFIRM PASSWORD</div>
                        <div class="cols-sm-10 mjc-input-group">
                            <input id="txtConfirmPassword" type="{{confirmPasswordInputType}}" name="confirmpassword" class="form-control mjc-input" placeholder="Enter Confirm Password" ng-model="ConfirmPassword" ng-pattern="NewPassword" required autocomplete="off" />
                            <img class="icon-btn" src="../../../images/icons/eye.png" style="width: 8%;" ng-click="showConfirmPassword()" />
                            <p class="help-block" ng-if="resetPasswordForm.confirmpassword.$error.required">The confirm password is required.</p>
                            <p class="help-block" ng-if="resetPasswordForm.confirmpassword.$error.pattern">Passwords do not match.</p>
                        </div>
                    </div>

                    <div class="text-center signup-btn-margins">
                        <button type="submit" class="btn button mjc-btn bac-color-67c152" ng-disabled="isContinue" ng-click="resetPassword()">{{btnReset}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--Login end-->
</div>