<div class="app-width">
    <div class="margin-top-25">
        <p class="terms-policy-title">Payments</p>
    </div>
    <div class="padding-10">
        <p class="privacy-policy-content text-center margin-bottom-20">
            BusyKid uses advanced technology that allows parents to pay allowance by text approval. Each week you will receive a text from BusyKid alerting you how much allowance has been earned and  asking your approval.  A simple “yes” reply from you and we will move that amount from your linked bank  account into your kids BusyKid account.
        </p>

        <p class="privacy-policy-content text-center margin-bottom-20">
            BusyKid also makes it easy to pay for our service.  After your 30 trial is over we will automatically withdraw $12  from your linked checking account to pay for your annual membership.  You can cancel this any time.
        </p>
    </div>